
*{ color: white;
   font-family: Inconsolata,monospace;
text-align: center;}



.box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
#block{ /* tentei usar nth child pra mudar a imagem na 2a e 3a iteração do bloco, mas a imagem era sempre a mesma
    sem dizer que a bendita da borda simplesmente desiste do trabalho dela em resolucoes maiores e fica um espaço
    branco. */
    
    /* acabei de ler os requisitos do trabalho no resilia, o comentário que esteve aqui foi desconsiderado
    lol.*/

    display: block;
    border: none;
width: 100%;
height: 10cm; /* aparentemente eu achei que as bordas tiravam a possibilidade de mudar o tamanho da altura. Ou eu
estava pondo em %. Mistério.*/
background: url(../img/china.png)center fixed;
background-size: cover;
}

#block2{
display: block;
border:none;
width: 100%;
height: 10cm;
background: url(../img/verdant.jpg)center fixed;
background-size: cover;
}

#block3{
    display: block;
border:none ;
width: 100%;
height: 10cm;
background: url(../img/moscow.png)center fixed;
background-size: cover;
}


#blank{ /*  Esse é o tipo de abominação que nem sei se era necessário, mas eu to naquele ponto que me afundei tanto,
    que honestamente, desde que "funcione" não reclamarei.*/
  visibility: hidden;
    margin-top: 4cm;
}

#sobre,#hob,#con{   
       font-size: 32px;
    text-align: center;
    text-decoration: underline;
   }
body{   background-color: black;}
